body {
  background-color: #7a5050;/*old color: #7A6A50; */
  font-family: Helvetica;
  font-size: 16px;
}

#preEdgeInput,#normEnergyInput {
  width: 50px;
  text-align: center;
}

#vertOffsetInput,#alphaInput,#thicknessFactorInput,#lorentzianInput {
  width: 30px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

#init-block section {
  background-color: #fff;
  border: 2px solid #c2b27e;
  border-radius: 5px;
  margin-top: 1.5em;
}

#alpha-block section {
  background-color: #fff;
  border: 2px solid #c2b27e;
  border-radius: 5px;
  margin-top: 1.5em;
}

#lorentzian-block section {
  background-color: #fff;
  border: 2px solid #c2b27e;
  border-radius: 5px;
  margin-top: 1.5em;
}

#normalization-block section {
  background-color: #fff;
  border: 2px solid #c2b27e;
  border-radius: 5px;
  margin-top: 1.5em;
}

/* golden color: #a79046 */
.file-marker > div {
  padding: 0 5px;
  margin-top: -0.8em;
}

.box-title {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  padding: 0;
  border: 2px solid #c2b27e;
  border-radius: 5px;
}

.box-contents{
  padding: 8px 5px 5px 5px;
}

.bk-root .bk {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.centering_container {
  text-align: center;
  position: relative
}

.wrapper {
  background-color: #95917a;
  margin: 0 auto 20px auto;
  padding: 20px;
  text-align: left;
  width: 50%;
  display:inline-block;
  border-radius: 5px;
}

.wrapper2 {
  padding: 0 20px;
  width: 125px;
  text-align: left;
  color: white;
  vertical-align: top;
  position: absolute;
  display:inline-block;
  bottom: 20px;
}

#wrapperID {
}

.bk-slider-value {
	visibility: hidden;
}

.slider:hover {
  opacity: 1;
}

.slidecontainer {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.slider {
  display: inline-flex;
  flex-basis: 100%;
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #a79046;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #a79046;
  cursor: pointer;
}

