.mySim {
	margin:auto;
}

.output_wrapper {
	margin: auto;
}

.output {
	margin: auto;
}

.output_area {
	margin: auto;
}

.prompt {
	margin: auto;
}

.output_subarea output_javascript {
	margin: auto;
}

.output_html rendered_html output_subarea {
	margin: auto;
}

#7cb7de1f-bc8e-414d-b67b-445410d5ba1b {
	margin: auto;
}

#feb94c26-2d79-4da0-8bb3-a9d16148d1aa {
	margin: auto;
}

#0e44af25-6c26-4cbc-96cd-e9c73016f1f6 {
	margin: auto;
}
