.output_wrapper {
	margin: auto;
}

.output {
	margin: auto;
}

.output_area {
	margin: auto;
}

.prompt {
	margin: auto;
}

.output_subarea {
	margin: auto;
}

.output_javascript {
	margin: auto;
}

.output_html {
	margin: auto;
}

.rendered_html {
	margin: auto;
}

#D47287FBA01843B5ADF3B84E8EF183DD {
	margin: auto;
}

#7cb7de1f-bc8e-414d-b67b-445410d5ba1b {
	margin: auto;
}

#feb94c26-2d79-4da0-8bb3-a9d16148d1aa {
	margin: auto;
}

#0e44af25-6c26-4cbc-96cd-e9c73016f1f6 {
	margin: auto;
}

#B2CEC3C5B4384C0E99E9C088A6C7F0AB {
	margin: auto;
}

#3E1BA22762794F508EC063BACA15FA41 {
	margin: auto;
}


